body{
    background-color: #2b2727;
    color: aliceblue;
    margin: 0 auto;
    max-width: 480px;
}
.content{
    height: 900px;
    border-radius: 10px;
    border-style: groove;
    border-color: brown;
    padding: 5px;
    background-color: #161414;
}
.image{
    padding-left: 5vw;
}
select:hover{
    border-color: #e82f46;
}
input:hover{
    border-color: greenyellow;
}

.wrapper-header{
    padding: 10px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*border-style: dashed;*/
    border-style: double;
    border-color: maroon;
    border-radius: 10px;
    border-width: 4px;
    padding-left: 4vw;
}
.btnwrap{
    display: flex;
    width: 16.5vw;
}

.wall{
    background-color: maroon;
    border-style: dot-dash;
    width: 1px;
    margin-left: 1vw;
}


.btn {
    /*margin: 1vw;*/
    margin-right: 0.8vw;
    margin-top: 0.5vw;
    width: 80px;
    height: 20px;
    border-radius: 7px;
    cursor: pointer;
}

.delBtn{
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.delBtn:hover{
    background-color: #f80505;
    transform: scale(1.3);
}

.addBtn:hover{
    background-color: #50ea2e;
    transform: scale(1.13);
}

.sortBtn:hover{
    background-color: #fcbb00;
    transform: scale(1.13);

}
.clearBtn:hover{
    background-color: #e82f46;
    transform: scale(1.13);
}


input{
    width: 14vw;
    height: 1vw;
    border-radius: 5px;

}

.driverItemSorted>li{

    /*color: #f80505;*/
   list-style-type: disc;
}

.wrapperlist {
    display: flex;
}

.driverlist{
    border: darkgrey;
    width: 7vw;
}
.driverItem{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 20px;
    padding: 3px;

}

.sortedlist{
    margin-left: 8vw;
    /*border: darkgrey;*/
    /*border-style: solid;*/
    /*border-radius: 1px;*/
    width: 8vw;
}

ul{
    border-style: solid;
    border-color: maroon;
    color: crimson;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
li{
    color: aliceblue;
    margin-left: 1vw;
    padding: 3px;
}
