body{
    background-color: #2b2727;
    color: aliceblue;
    margin: 0 auto;
    max-width: 480px;
}
/*.content{*/
/*    margin: 0 auto;*/
/*    max-width: 640px;*/
/*}*/
.wrapper{
    display: flex;
    flex-direction: column;
}

.btn {
    /*margin: 1vw;*/
    margin-right: 1vw;
    margin-top: 0.5vw;
    width: 4vw;
    height: 1vw;
    border-radius: 7px;
    cursor: pointer;
}
.addBtn:hover{
    background-color: #50ea2e;
}

.sortBtn:hover{
    background-color: #fcbb00;

}
.clearBtn:hover{
    background-color: #e82f46;
}


input{
    width: 14vw;
    height: 1vw;
    border-radius: 5px;

}

.driverItemSorted>li{

    color: #f80505;
   list-style-type: disc;
}

.wrapperlist{
    display: flex;
    flex-direction: row;
}

.driverlist{
    border: darkgrey;
    width: 7vw;


}

.sortedlist{
    margin-left: 2vw;
    /*border: darkgrey;*/
    /*border-style: solid;*/
    /*border-radius: 1px;*/
    width: 7vw;


}