body{
    background-color: #2b2727;
    color: aliceblue;
}
.wrapper{
    display: flex;
    flex-direction: column;
}

.addBtn{
    margin: 1vw;
    width: 4vw;
    height: 1vw;
    border-radius: 7px;
}

input{
    width: 17vw;
    height: 1vw;

}

.driverItemSorted>p{
    color: red;
}

.wrapperlist{
    display: flex;
    flex-direction: row;
}

.driverlist{

}

.sortedlist{
    margin-left: 2vw;

}